# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
easydict==1.10
albumentations==1.3.1
pillow==9.5.0
scipy==1.10.1
tensorboard==2.11.0
# tkinter==3.10.12 # non nix python has tkinter shipped by default
torch==2.0.1
torchvision==0.15.2
opencv-python

