# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.
easydict
albumentations
pillow
scipy
tensorboard
# tkinter==3.10.12 # non nix python has tkinter shipped by default
torchvision
opencv-python-headless
Cython
numpy
tqdm
